.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;

  &__title {
    font-size: 100px;
    line-height: 128px;
    letter-spacing: 2%;

    span {
      display: block;
      background: linear-gradient(90deg, #0376C9 1.52%, #02B5CD 100%);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}